/* Configurações gerais */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body, ul, li, p {
    font-size: 1.2rem;
}

* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

html {
    scroll-behavior: smooth;
}

/* BANNER */

.banner {
    color: white;
    background-image: url(../assets/imgs/logo\ 2\ 1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_mobile, .navbar_modal_mobile {
    display: none;
}

.navbar #logo {
    margin-top: 1%;
    margin-left: 3%;
    width: 16vw;
    height: 10vh;
}

.navbar_opcoes {
    width: 20vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_opcoes li{
    margin-left: 2vw;
}

.navbar_opcoes a {
    font-size: 1.3rem;
    color: white;
    padding: 20%;
    margin: 10%;
}

.navbar_botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
}

.navbar_botoes li {
    margin-left: 2vw;
}

.navbar_botoes a {
    padding: 10%;
    margin: 10%;
}

.navbar_botoes button {
    width: 7vw;
    height: 6vh;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border: 2px solid white;
    border-radius: 10% / 20%;
    color: white;
    transition: 0.3s ease-in-out;
}

.navbar_botoes button:hover {
    width: 7vw;
    height: 6vh;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border: 2px solid transparent;
    border: 2px solid #2A6F97;
    border-radius: 10% / 20%;
    color: #2A6F97;
}

@media (max-width: 1280px) {
    .navbar_botoes button {
        width: 8vw;
        padding-left: 2%;
        padding-right: 2%;
        border: 1px solid white;
    }

    .navbar_botoes button p {
        font-size: 1rem;
    }
}

@media (max-width: 1097px) {
    .navbar_botoes button p {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        all: unset;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 5%;
    }
    .navbar_botoes {
        display: none;
        width: 0;
        height: 0;
    }
    .navbar_botoes button {
        display: none;
        width: 0;
        height: 0;
    }
    .navbar_opcoes {
        display: none;
        width: 0;
        height: 0;
    }
    .navbar_logo {
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar_logo #logo {
        width: 50vw;
        height: 10vh;
        margin-top: 5%;
    }
    .navbar_modal_mobile {
        display: flex;
        margin-left: 10%;
        height: 10vh;
        align-items: center;
    }
    .navbar_modal_mobile #navbar_icone_lista {
        width: 38px;
        height: 38px;
        border: none;
    }
    .modal_mobile {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.6);
        color: white;
    }
    .container_modal {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 90vw;
        height: 80vh;
        background-image: url("../assets/imgs/fundo\ serviços.png");
        background-size: cover;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.5);;
    }
    .botao_fechar_modal_mobile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .navbar_botoes_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .navbar_botoes_mobile li {
        margin-top: 2vw;
    }
    .navbar_botoes_mobile button {
        width: 30vw;
        height: 6vh;
        font-size: 1.2rem;
        cursor: pointer;
        background-color: transparent;
        border: none;
        border: 2px solid white;
        border-radius: 10% / 20%;
        color: white;
    }
    .modal_contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70vw;
        text-align: center;
    }
    .modal_contato h4 {
        width: 70vw;
        font-size: 1.3rem;
        font-weight: normal;
    }
    .modal_contato p {
        margin: 2%;
        margin-bottom: 1%;
        font-size: 1rem;
    }
    .modal_contato a {
        color: white;
        font-size: 1rem;
        text-decoration: underline;
        cursor: pointer;
    }
}

/* BANNER */

.conteudo_banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 7%;
}

.banner_texto h1 {
    font-size: 4rem;
    margin-bottom: 2%;
}

.banner_texto p {
    font-size: 1.5rem;
    margin-bottom: 2%;
}

.banner_texto #banner_botao_saiba_mais p {
    font-size: 1.2rem;
}

.banner_texto #banner_botao_saiba_mais {
    width: 7.5vw;
    height: 6.5vh;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    border-radius: 10% / 20%;
    color: white;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.banner_texto #banner_botao_saiba_mais:hover {
    width: 7.5vw;
    height: 6.5vh;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #1e7921;
    border: none;
    border: 2px solid transparent;
    border-radius: 10% / 20%;
    color: white;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
}

.boneco {
    margin-right: 7%;
}

.boneco img {
    width: 20vw;
    height: 59vh;
}

@media (max-width: 1280px) {
    .banner{
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 2%;
    }

    .banner_texto #banner_botao_saiba_mais {
        width: max-content;
        height: max-content;
        padding: 10%;
    }
    .banner_texto #banner_botao_saiba_mais:hover {
        width: max-content;
        height: max-content;
    }

    .banner_texto #banner_botao_saiba_mais p {
        font-size: 1rem;
    }

}

@media (max-width: 1097px) {
    .banner {
        height: fit-content;
        padding-bottom: 2%;
    }
    .boneco img {
        width: 0;
        height: 0;
    }
}

@media (max-width: 768px) {
    .banner {
        height: fit-content;
        padding-bottom: 2%;
    }
    .banner_texto h1 {
        font-size: 2rem;
        text-align: center;
        width: 85vw;
    }
    .banner_texto p {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1%;
        margin-bottom: 5%;
    }
    .banner_texto a {
        width: 85vw;
        height: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner_texto #banner_botao_saiba_mais {
        width: 30vw;
        height: 5vh;
        padding: 0%;
        margin-bottom: 4%;
        border-radius: 5% / 15%;
    }
    .banner_texto #banner_botao_saiba_mais p {
        width: 30vw;
        font-size: 1rem;
    }
    .boneco img {
        width: 0;
        height: 0;
    }
}

/* SOBRE NÓS */

.sobre_nos {
    height: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    display: flex;
    align-items: flex-start;
}

.sobre_nos .imagem {
    background-image: url(../assets/imgs/imrs.avif);
    background-size: cover;
    background-position-x: 90%;
    border-radius: 10%;
    width: 35vw;
    height: 80vh;
}

.sobre_nos_conteudo {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre_nos_texto {
    width: 50vw;
}

.sobre_nos_texto #p_titulo {
    color: #4CAF50;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.sobre_nos_texto h1 {
    margin-bottom: 6%;
}

.sobre_nos_texto #p_conteudo {
    width: 55vw;
    height: fit-content;
    margin-top: 3%;
    margin-bottom: 6%;
}

/* SOBRE NÓS - MISSÃO. VISÃO E VALORES */

.sobre_nos_mvv {
    width: 50vw;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.missao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 3%;
}

.missao h3 {
    margin-bottom: 5%;
}

.missao .container_missao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 17vw;
    height: 17vh;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 2%;
}

.visao {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 3%;
}

.visao h3 {
    margin-bottom: 5%;
}

.visao .container_visao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 17vw;
    height: 17vh;
    padding: 5%;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.15);
    border-radius: 2%;
}

.valores h3 {
    margin-bottom: 5%;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 3%;
}

.valores .container_valores {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 17vw;
    height: 17vh;
    box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.15);
    border-radius: 2%;
}

@media (max-width: 1280px) {
    .missao .container_missao {
        width: fit-content;
        height: fit-content;
    }

    .visao .container_visao {
        width: fit-content;
        height: fit-content;
    }

    .valores .container_valores {
        width: fit-content;
        height: fit-content;
    }
}

@media (max-width: 768px) {
    .sobre_nos {
        display: flex;
        flex-direction: column;
    }
    .sobre_nos .imagem {
        display: none;
    }
    .sobre_nos #imagem_mobile {
        background-image: url(../assets/imgs/imrs.avif);
        background-size: cover;
        background-position-x: 90%;
        display: flex;
        width: 90vw;
        height: 30vh;
        border-radius: 10% / 20%;
        margin-bottom: 7%;
    }
    .sobre_nos_texto {
        width: 85vw;
        text-align: center;
    }
    .sobre_nos_texto #p_conteudo {
        width: 85vw;
        text-align: justify;
    }
    .sobre_nos_texto h1 {
        font-size: 2rem;
    }
    .sobre_nos_texto #p_titulo {
        font-size: 1rem;
    }
    .sobre_nos_mvv {
        width: 85vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container_missao {
        padding: 20px;
 
    }
    .container_valores {
        padding: 10px;
    }
    .missao, .visao, .valores {
        margin: 0;
        margin-top: 5%;
        padding: 20px;
        width: 100%;
    }
    .missao .container_missao,.visao .container_visao,.valores .container_valores {
        width: 80vw;
        margin: 0;
    }
}


/* NOSSOS SERVIÇOS */

.servicos {
    width: 100vw;
    height: 95vh;
    background-image: url(../assets/imgs/fundo\ serviços.png);
    background-size: cover;
    background-repeat: round;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos_conteudo {
    padding: 5%;
    margin: 5%;
    text-align: center;
}

.titulo_servicos {
    width: 70vw;
}

.titulo_servicos h1 {
    margin-bottom: 3%;
}

.titulo_servicos h3 {
    margin-bottom: 3%;
}

.titulo_servicos p {
    margin-bottom: 3%;
}

.imagem_servicos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_servicos img {
    background-image: url(../assets/imgs/tablet-drug-serious-touchscreen-pharmacy.jpg);
    background-size: cover;
    background-position-y: 20%;
    border-radius: 5% / 20%;
    width: 50vw;
    height: 40vh;
}

.texto_servicos {
    width: 70vw;
    margin-top: 3%;
}

@media (max-width: 1280px) {
    .servicos {
        height: fit-content;
    }
}

@media (max-width: 768px) {
    .titulo_servicos {
        width: 85vw;
    }
    .titulo_servicos h1 {
        font-size: 1.5rem;
        margin-bottom: 6%;
        font-weight: normal;
    }
    .imagem_servicos {
        margin-top: 3%;
        margin-bottom: 3%;
        width: 85vw;
    }
    .imagem_servicos img {
        margin-top: 3%;
        margin-bottom: 3%;
        width: 80vw;
        height: 20vh;
        border-radius: 10% / 20%;
    }
    .texto_servicos {
        width: 85vw;
        text-align: justify;
    }
}

/* SOBRE TIME */

.sobre_time {
    height: fit-content;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.time_titulo p {
    color: #4CAF50;
    margin-bottom: 1%;
}

.time_titulo h1 {
    margin-bottom: 3%;
}

.time_conteudo {
    width: 90vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pessoa_time {
    display: flex;
    flex-direction: column;
    margin: 1%;
    text-align: center;
}

.pessoa_time #img_eduarda {
    background-image: url("../assets/imgs/imagem_eduarda.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 50vh;
    border-radius: 3% / 5%;
}

.pessoa_time #img_guilherme {
    background-image: url("../assets/imgs/imagem_guilherme.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 50vh;
    border-radius: 3% / 5%;
}

.pessoa_time #img_izael {
    background-image: url("../assets/imgs/imagem_izael.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 50vh;
    border-radius: 3% / 5%;
}

.pessoa_time #img_joao {
    background-image: url("../assets/imgs/imagem_joao.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 50vh;
    border-radius: 3% / 5%;
}

.pessoa_time #img_leandro {
    background-image: url("../assets/imgs/imagem_leandro.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 50vh;
    border-radius: 3% / 5%;
}

.pessoa_time #img_rodrigo {
    background-image: url("../assets/imgs/imagem_rodrigo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25vw;
    height: 50vh;
    border-radius: 3% / 5%;
}

.nome_cargo_time h4 {
    margin: 1%;
    margin-top: 3%;
}

.nome_cargo_time p {
    margin: 1%;
    color: #4CAF50;
}

@media (max-width: 768px) {
    .time_titulo {
        width: 90vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .time_titulo p {
        font-size: 1rem;
    }
    .time_titulo h1 {
        font-size: 2rem;
        margin-bottom: 6%;
    }
    .pessoa_time {
        display: block;
    }
    .pessoa_time img {
        width: 35vw;
        height: 20vh;
    }
    .pessoa_time #img_eduarda {
        width: 40vw;
        height: 20vh;
    }
    .pessoa_time #img_guilherme {
        width: 40vw;
        height: 20vh;
    }
    .pessoa_time #img_izael {
        width: 40vw;
        height: 20vh;
    }
    .pessoa_time #img_joao {
        width: 40vw;
        height: 20vh;
    }
    .pessoa_time #img_leandro {
        width: 40vw;
        height: 20vh;
    }
    .pessoa_time #img_rodrigo {
        width: 40vw;
        height: 20vh;
    }
    .nome_cargo_time h4 {
        width: 40vw;
        font-size: 1rem;
    }
    .nome_cargo_time p {
        font-size: 0.8rem;
    }
}

/* FOOTER */

.seta_topo {
    width: 95vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1%;
}

.footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: white;
}

.footer_conteudo {
    background-image: url("../assets/imgs/fundo\ serviços.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    margin-top: 4%;
}

.texto_icones_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5%;
    width: 90vw;
}

.icones_footer #img_github {
    width: 40px;
    height: 40px;
}

.icones_footer #img_linkedin {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .seta_topo {
        display: none;
    }
    .linha_footer {
        display: none;
    }
    .texto_icones_footer {
        flex-direction: column;
    }
    .texto_icones_footer p {
        font-size: 0.8rem;
        margin-bottom: 5%;
    }
}
