body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container-contato {
    width: 100%;
    text-align: left;
    padding: 10px;
    margin-bottom: 70px;
    background: white;
}

.logo {
    width: 300px; 
    height: auto;
    display: block;
    margin-left: 3%;
}

.login-text {
    top: 50px;
    position: absolute;
    right: 200px;
    
    color: #333;
    font-size: 16px;
    text-align: right;
}

.highlight {
    color: #106f13;  
    font-weight: bold;
    text-decoration: none; 
}

.highlight:hover {
    color: #007BFF; 
}

.title-text {
    color: #2A6F97;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.title-text1 {
    color: #2A6F97;
    font-size: 28px;
    font-weight: bold;
    margin-right: 54px;
    margin-bottom: 16px;
}

.subtitle-text {
    color: #4CAF50;
    font-size: 18px;
    margin-right: 44px;
    font-weight: bold;
    color: #106f13;  
    font-weight: bold;
    
    
}

.wave {
    top: 80px;
    height: 300px; 
    background-image: url('../assets/imgs/wave.png'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom; 
}

#login {
    width: 100%;
    background: #00121e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -60px;  */
    padding-top: 0;
    z-index: 10; 
    position: relative; 
}

.login-container {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.titulo-login {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 30px;
}

.conteudo-login {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
    position: relative;  
}

.login-card {
    width: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #ffff;
    border: 3px solid #211e1e;
    padding: 15px;
    color: #333;
    position: relative;  
    top: -200px;  
}

.form-content {
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.content .p {
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 40px;
    text-align: center;
    color: #000000;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.input-item {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.input-item i {
    position: absolute;
    left: 15px;
    top: 45%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #2a2525;
}

.input-item input {
    width: 100%;
    padding-left: 45px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #dfdfdf;
    margin-bottom: 18px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-top: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.input-group label {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}


.input-field:focus,
.password:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
}

.input-field::placeholder,
.password::placeholder {
    color: #000000;
    font-size: 16px;
    transition: all 0.3s ease;
    transform: scale(1);
    opacity: 1;
}

.input-field:focus::placeholder,
.password:focus::placeholder {
    color: #007BFF;
    transform: scale(0.9);
    opacity: 0.6; 
}

.btn {
    margin-top: 20px;
    align-self: center;
    display: flex;
    width: 40%;
    border: none;
    border-radius: 90px;
    justify-content: center ;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    padding: 12px;  
    font-size: 20px;
    transition: 1s;
}

.btn:hover {
    background-color: #1e7921; 
    transition: 1s;
}

.beneficios {
    margin-top: 0px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;  
    gap: 15px;  
    width: 75%;  
    top: -200px;
    position: relative;
}

.title-beneficio { 
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}

.beneficio-texto {
    font-size: 20px;
    color: #ffffff;
     margin-right: 20px;
    font-weight: normal;
}

.beneficio-texto i {
    color: #ffcc00;
    font-size: 22px;
    margin-right: 10px;
    color: #ffffff;
}

.mini-card {
    width: 30%;
    padding: 20px;
    background-color: #204E69;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 800px;
    top: -200px;
    position: relative;
    margin-bottom: 0;
}

.mini-card:hover {

        background-color: #1e7921; 
        transition: 2s;
    
}

.mini-card a {
    color: #ffffff;
    text-decoration: none;
}



.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    margin-top: auto; 
}

.footer_conteudo {
    background-image: url("../assets/imgs/fundo\ serviços.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    margin-top: 4%;
}

.texto_icones_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5%;
    width: 90vw;
}

.icones_footer #img_github {
    width: 40px;
    height: 40px;
}

.icones_footer #img_linkedin {
    width: 40px;
    height: 40px;
}

@media (max-width: 768px) {
    .login-text {
        position: relative;
        top: 10;
        right: 0;
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .login-card {
        width: 80%;
        margin: 0 auto;
    }

    .logo {
        width: 200px;
    }

    .mini-card {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .login-container {
        width: 90%;
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        width: 150px;
        margin: 0 auto;
    }

    .conteudo-login {
        flex-direction: column;
        gap: 20px;
    }

    .login-card {
        width: 100%;
    }

    
    .beneficios {
        width: 100%;
        margin-top: 80px;
        margin-left: 0;
        margin-right: 0;
    }

    .mini-card {
        width: 100%;
        margin-top: 70px;
        margin-left: 0;
        margin-right: 0;
    }

    .site-footer {
        flex-direction: column;
        align-items: center;
    }

    .site-footer .left-side p,
    .site-footer .right-side a {
        font-size: 14px;
    }

    .seta_topo {
        display: none;
    }
    .linha_footer {
        display: none;
    }
    .texto_icones_footer {
        flex-direction: column;
    }
    .texto_icones_footer p {
        font-size: 0.8rem;
        margin-bottom: 5%;
    }
}
